{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

}
 body
 {
    display: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    
 }
 footer
 {
    position: relative;
    width: 100%;
   
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }
 footer .social_icon
 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
 }
 footer .social_icon li
 {
    list-style: none;

 }
 footer .social_icon li a

 {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

 }
 footer .social_icon li a:hover 
 {
   transform: translateY(-10px);
 
 }
 @media (max-width:800px) {
   .social_icon{
      width: 90vw;
   }
 }

